@charset "UTF-8";

.header {
	width: 100%;
	background: rgba(27, 86, 120, 1);

}

.header-container {
	max-width: 1440px;
	height: 120px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin :auto;
}

span {
	width: 201px;
	height: 42px;
	gap: 0px;
	opacity: 0px;

	font-family: Roboto;
	font-size: 36px;
	font-weight: 700;
	line-height: 42.19px;
	text-align: left;
	color: rgba(255, 255, 255, 1);

}

.logout-btn {
	width: 152px;
	height: 53px;
	padding: 16px 40px 16px 40px;
	gap: 0px;
	border-radius: 4px 4px 4px 4px;
	opacity: 0px;
	background: rgba(255, 255, 255, 1);
	border: none;
	cursor: pointer;
}

.footer {
	width: 100%;
	bottom: 0;
	left: 0;
	color: rgba(255, 255, 255, 1);
	position: fixed;
    bottom: 0; /*下に固定*/
}

.footerlogo {
	width: 100%;
	height: 40px;
	display: flex;
	justify-content: center;
	background: rgba(27, 86, 120, 1);
	font-family: Roboto;
	font-size: 18px;
	font-weight: 400;
	line-height: 21.09px;
	align-items: center;
	color: rgba(255, 255, 255, 1);

}

.wrapper {
	margin: 0 auto;
	width: 960px;
	height: 1512px;
	align-items: center;
	padding: 40px 0px 40px 0px;
}

.category {
	width: 960px;
	border-radius: 4px 4px 4px 4px;
	border: 1px solid #00000080;
	margin-bottom: 50px;
	padding-bottom: 30px;
	display: table;
}

.content {
	width: 880px;
	padding: 32px;
}

.table-header {
	display: flex;
	justify-content: space-between;
	width: 880px;
	height: 48px;
}

.addbtn {
	width:178px;
	height: 48px;
	border-radius: 4px 4px 4px 4px;
	background: rgba(27, 86, 120, 1);	
	color: rgba(255, 255, 255, 1);
	font-size: 14px;
	font-weight: 400;
	font-family: Roboto;
	cursor: pointer;
	border: none;
	white-space: nowrap;
	display:flex;
	align-items: center;
	justify-content: center;
}

.title {
	display:flex;
	align-items: center;
	justify-content: center;
}

.table-title {
	align-items: center;
	display: flex;
	width: 880px;
	margin: auto;
}

/*.container {*/
/*	width: 880px;*/
/*	height: 276px;*/
/*	margin: auto;*/
/*	box-shadow: 0px 1px 5px 0px #0000001F,*/
/*	0px 2px 2px 0px #00000024,*/
/*	0px 3px 1px -2px #00000033;*/
/*}*/


.table {
	height: 85px;
	align-items: center;
	width: 880px;
	margin: auto;
	border-top:1px solid rgb(192, 192, 192);
	box-shadow: 0px 1px 5px 0px #0000001F,
	0px 2px 2px 0px #00000024,
	0px 3px 1px -2px #00000033;
	border-collapse: collapse;
/*	border-spacing: 0;*/
/*	padding: 25px 0px 0px 0px;*/
/*	border-spacing: 0px 1rem;*/
	}

.time {
	width: 200px;
}

.save {
	width: 200px;
}

.delete {
	width: 200px;
}

input {
	width: 160px;
	height: 40px;
}

tbody {
	margin-top: 140px;
}

tr {
	margin: auto;
	height: 60px;
}

th {
	font-family: Roboto;
	margin-left: 20px;
	color: #0000008A;
	flex-basis: 240px; /* flexアイテムの幅を数値で指定 */
/*	border-bottom: 1px solid rgb(192, 192, 192);*/
	margin: auto;
	border-bottom: 1px solid rgb(192, 192, 192);
}

.left-padding {
	padding-left: 30px;
}


td {
  border-bottom: 1px solid rgb(192, 192, 192);
}

.btn-save {
	margin-left: 60px;
	width: 158px;
	height: 32px;
	border-radius: 4px 4px 4px 4px;
	border: 1px 0px 0px 0px;
	background: #FFFFFF;
	border: 1px solid #1B5678;
	cursor: pointer;
	color: #1B5678;
	font-size: 14px;
	font-weight: 600;
	font-family: Roboto;
}

.btn-delete {
	width: 88px;
	height: 32px;
	border-radius: 4px 4px 4px 4px;
	background: #EE6969;
	cursor: pointer;
	border: none;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 600;
	font-family: Roboto;
	margin-left: 60px;
}

h1 {
	width: 240px;
	font-family: Roboto;
	font-size: 24px;
	font-weight: 700;
	color: #000;
	border-bottom: 2px solid #000;
	padding-bottom: 10px;
}


.h2 {
	width: 240px;
	font-family: Roboto;
	font-size: 15px;
	color: #0000008A;
	flex-basis: 210px; /* flexアイテムの幅を数値で指定 */
	margin-left: 30px;
	padding-left: 30px;
}



h3 {
	font-family: Roboto;
	font-size: 15px;
	color: #0000008A;
	flex-basis: 240px; /* flexアイテムの幅を数値で指定 */
}

body {
	margin: 0;
	overflow-y: scroll;
}

.error-message {
	color:crimson
}