<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>項目一覧画面</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link th:href="@{/css/listview.css}" rel="stylesheet" />
	</head>
	
<body>
	
	<header>
		<div class="header">
			<div class="header-container">
				<div><span>My PortFolio</span></div>
				<div>
					<form th:action="@{logout}" method="post">
						<input type="submit" class="logout-btn" value="ログアウト">
					</form>
				</div>
			</div>
		</div>
	</header>
	
<div class="wrapper">
        
	<div class="category">
		<div class="content">
			
			<div class="table-header">	
					<div class="title"><h1>バックエンド</h1>
						<!--<div th:each="categoryName : ${categorylist}" 
						th:text="${categoryName}" class="title"></div>-->
<!--						<div th:text="${categoryName}" class="categoryname"></div>-->
						
						<!--<div class="categoryname"
						th:text="${categoryName}" th:each="categories : ${categorylist}">-->
						
					</div>
							
					<button onclick="location.href='./listadd?category_id=1'" class="addbtn">項目を追加する</button>
			</div>

		</div>
				
				<div class="container">
					
					<table width="880px" class="table">
						<tr>
						  <th align="left" valign="middle">項目名</th>
						  <th align="left" valign="middle">学習時間</th>
						  <th></th>
						  <th></th>
						</tr>
				
						<tr th:each="learn : ${skillName}" th:if="${learn.categoryId == 1}" th:object="${learn}">
							
						<td width="240px" th:text="*{name}" class="h2"></td>
						
						<td width="440px">
							<form th:action="@{/listview}" th:method="post">
								<input type="number" name="studyTime" class="time" th:value="${learn.studyTime}" min="0" step="1">
								<input type="hidden" name="id" th:value="${learn.id}">
								<input type="submit" value="学習時間を保存する" class="btn-save">
							</form>
						</td>

							<td width="200px">
								<input type="submit" value="削除する" class="btn-delete">
							</td>
						
						</tr>
					</table>
				</div>
	</div>

	<div class="category">
		<div class="content">
				
					<div class="table-header">
								
						<div class="title"><h1>フロントエンド</h1>
						</div>
								
						<button onclick="location.href='./listadd?category_id=2'" class="addbtn">項目を追加する</button>
					</div>
	
		</div>
					
			<div class="container">
										
				<table width="880px" class="table">
					<tr>
					  <th align="left" valign="middle">項目名</th>
					  <th align="left" valign="middle">学習時間</th>
					  <th></th>
					  <th></th>
					</tr>
			
					<tr th:each="learn : ${skillName}" th:if="${learn.categoryId == 2}" th:object="${learn}">
						
					<td width="240px" th:text="*{name}" class="h2"></td>
					
					<td width="440px">
						<form th:action="@{/listview}" th:method="post">
							<input type="number" name="studyTime" class="time" th:value="${learn.studyTime}" min="0" step="1">
							<input type="hidden" name="id" th:value="${learn.id}">
							<input type="submit" value="学習時間を保存する" class="btn-save">
						</form>
					</td>

						<td width="200px">
							<input type="submit" value="削除する" class="btn-delete">
						</td>
					
					</tr>
				</table>
						
			</div>
		</div>
		
		<div class="category">
				<div class="content">
					
						<div class="table-header">
									
							<div class="title"><h1>インフラ</h1>
							</div>
									
							<button onclick="location.href='./listadd?category_id=3'" class="addbtn">項目を追加する</button>
						</div>
		
				</div>
						
					<div class="container">
																
						<table width="880px" class="table">
							<tr>
							  <th align="left" valign="middle">項目名</th>
							  <th align="left" valign="middle">学習時間</th>
							  <th></th>
							  <th></th>
							</tr>
					
							<tr th:each="learn : ${skillName}" th:if="${learn.categoryId == 3}" th:object="${learn}">
								
							<td width="240px" th:text="*{name}" class="h2"></td>
							
							<td width="440px">
								<form th:action="@{/listview}" th:method="post">
									<input type="number" name="studyTime" class="time" th:value="${learn.studyTime}" min="0" step="1">
									<input type="hidden" name="id" th:value="${learn.id}">
									<input type="submit" value="学習時間を保存する" class="btn-save">
								</form>
							</td>
	
								<td width="200px">
									<input type="submit" value="削除する" class="btn-delete">
								</td>
							</tr>
						</table>
					</div>
			</div>
</div>
	
</body>

<footer>
	<div class="footer">
		<div class="footerlogo">portfolio site</div>
	</div>
</footer>

</html>