<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>項目追加画面</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link th:href="@{/css/listadd.css}" rel="stylesheet" />
	</head>
	
<body>
	
	<header>
		<div class="header">
			<div class="header-container">
				<div><span>My PortFolio</span></div>
				<div>
					<form th:action="@{logout}" method="post">
						<input type="submit" class="logout-btn" value="ログアウト">
					</form>
				</div>
			</div>
		</div>
	</header>
	
<div class="container">
	
<!--      <form  th:object="${categoriesRequest}">-->
<!--	th:if="${cat.categoryId == 1}" -->
<!--		<div class="categoryname" -->
<!--					th:object="${cat}" th:each="cat : ${catName}">-->
    	 	<h1 th:text="*{name.name} + 'に項目名を追加'"></h1>
<!--		</div>-->
<!--	</form>-->


	 
	<div class="form">
			<form th:action="@{/listadd}" th:object="${learningRequest}" th:method="post"> 
				<input type="hidden" name="category_id" th:value="${category_id}">
				<input type="hidden" name="user_id" th:value="${user_id}">
				<div class="addform">
					
					<div class="form-group">
		                <label>項目名</label>
						<input type="text" th:field="*{name}" class="form-control">
						<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" 
							class="error-message">
							<p th:each="error : ${#fields.errors('name')}" th:text="${error}"></p>
						</div>
		        	 </div>
						
 					<div class="form-group">
 		                <label>学習時間</label>
						<input type="number" th:field="*{study_time}" class="form-control">
 						<div th:if="${#fields.hasErrors('study_time')}" th:errors="*{study_time}" 
						class="error-message">
 						<p th:each="error : ${#fields.errors('study_time')}" th:text="${error}"></p>
 					</div>
				</div>
				
					<div class="commit">
						<input type="submit" value="追加する" class="commitbtn">
	    			</div>
				</div>
			</form>
	</div>	
</div>
	
</body>

<footer>
	<div class="footer">
		<div class="footerlogo">portfolio site</div>
	</div>
</footer>

</html>