<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>TOPメニュー</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link th:href="@{/css/menu.css}" rel="stylesheet" />
	</head>
	
<body>
	
	<header>
		<div class="header">
			<div class="header-container">
				<div><span>My PortFolio</span></div>
				<div>
					<form th:action="@{logout}" method="post">
						<input type="submit" class="logout-btn" value="ログアウト">
					</form>
				</div>
			</div>
		</div>
	</header>
	
	<div class="main">
	     <div class="profile">
			<div class="pfimage">
				<img th:src="@{/img/104622.jpg}"><br>
					<div th:text="${userName}" class="name"></div>
			</div>
				 
				 <div class="profilecontent">
				 	 <h1>自己紹介</h1><br>
				 	  <div th:text="${self_introduction}" class="selfintroduction"></div><br>
					  <button onclick="location.href='introedit'" class="pfeditbtn">自己紹介を編集する</button>
	            	
					</div>
		</div>
	
			<div class="charttitle">
	            <h2>学習チャート</h2><br>
	            <button class="charteditbtn" type="button">編集する</button>
			</div>
	 </div>
	
	 <div class="topchart">
	
	 </div>
    
</body>

<footer>
	<div class="footer">
		<div class="footerlogo">portfolio site</div>
	</div>
</footer>

</html>